body {
    background: #FFF;
    margin: 0px;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

#colors {
    color: #00B278;
    color: #45FFC2;
    color: #2BFFBA;
    color: #B22805;
    color: #FF562B;
}

.container {
    width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
}

.main {
    margin-top: 100px;
}

.header-picture {
    min-height: 500px;
    text-align: center;
    background-image: url("../img/sample.jpg");
    background-repeat: no-repeat;
    background-color: red;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
/* MENU */

.header {
    background-color: #FFF;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    -webkit-box-shadow: 0 1px 2px #CCC;
    -moz-box-shadow: 0 1px 2px #CCC;
    box-shadow: 0 1px 2px #CCC;
}

.header-logo {
    float: left;
}
.header-logo img {
    height: 80px;
    width: 160px;
    padding: 10px;
    margin-left: 100px;
}

ul.main-nav {
    float: right;
    padding: 40px 0 0;
    margin: 0px;
    margin-right: 100px;
}
.main-nav li {
    display: inline;
    padding: 15px;
}

.main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #00B278;
    font-weight: 400;

}
.main-nav li a:hover {
    color: #B22805;

}

/* MENU END*/

/* FORM */
.contact-form {
    height: 440px;
    color: #333;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form .col-6 {
    width: 50%;
    float: left;
}

.contact-form h2 {
font-weight: 500;
font-size: 32px;
text-align: right;
padding: 50px 40px 0 0;
color: #B22805;
}

.contact-form h3 {
font-weight: 300;
font-size: 22px;
text-align: right;
padding: 10px 40px 0 0;
color: #B22805;
}

.contact-form p {
    color: #333;
    text-align: right;
    font-size: 10px;
    padding: 100px 40px 0 0;
    color: #777;
}

.contact-form form {
    padding: 30px;

}
.contact-form label {
    line-height: 2;
    font-size: 18px;
    color: #00B278;
}

.contact-form input[type=text],textarea {
    line-height: 1.5;
    font-size: 14px;
    width: 80%;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    padding: 3px;
}

.contact-form input:focus,textarea:focus {
    border: 1px solid #B22805;
    box-shadow: none;
}

.contact-form input[type=submit] {
    padding: 15px 30px;
    background-color: #fff;
    font-size: 18px;
    border: 2px solid #B22805;
    color: #B22805;
    font-weight: 500;
    border-radius: 5px;
    margin: 20px;
}
.contact-form input[type=submit]:focus,input[type=submit]:hover {
    background-color: #B22805;
    color: #FFF;
    cursor: pointer;
}
/* FORM END */

/*HERO HEADER START*/


/*HERO HEADER END*/

/*FOOTER START*/
ul.footer {
    margin-left: 150px;
}

.footer li {
    display: inline;
    padding: 15px;
}

.footer li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #969191;
    font-weight: 400;

}

.copyright {
    color: #969191;
    font-weight: 400;
    margin-left: 430px;
}

/*FOOTER END*/

.temp {
    color: #00B278;
    height: 100px;
    border: 1px solid #B22805;
    width: 1000px;
    margin: 100px auto;
    background: #FFF;
    padding-left: 25px;
    border-radius: 3px;
}
