$color-details: #7B1A9F;
$color-details-2: #22c2d7;
$color-details-3: #ff0052;
$color-details-4: #22c2d7;

@font-face {
  font-family: 'Arcade';
  src: url('../font/arcade.ttf');
}

body {
  font-family: "Arcade";
  background-image: url("../img/play-stone-1744790_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid $color-details-4;
  border-bottom: 10px solid $color-details-4;
  border-right: 10px solid $color-details-4;
  border-left: 10px solid $color-details-4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.game {
  background-image: url("../img/play-stone-1744790_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 865px;
  height: 620px;
  margin: 50px auto;
  background-color: red;
  border-top: 10px solid $color-details-3;
  border-bottom: 10px solid $color-details-3;
  border-right: 10px solid $color-details-3;
  border-left: 10px solid $color-details-3;
  .game-field {
    position: absolute;
    background: rgba(0, 0, 0, 0.70);
    margin: auto;
    width: 845px;
    height: 600px;
    overflow: hidden;
    .game-over {
      text-align: center;
      color: white;
    }
    .nav-bar {
      z-index: 1000;
      position: fixed;
      top: 0px;
      right: 0px;
      height: 170px;
      width: 120px;
      background-color: $color-details-2;
      border: 2px solid $color-details-2;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      line-height: 1;
      ul {
        list-style-type: none;
        top: 10px;
        margin: 0px;
        padding: 0px;
        li {
          color: black;
          margin: 5px;
          &:first-child {
            text-align: left;
          }
          button {
            width: 100%;
            border: 2px solid black;
            background: $color-details;
          }
        }
      }
    }
    .left-upper-corner {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid $color-details-4;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid $color-details-4;
    }
    .left-bottom-corner {
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid $color-details-4;
      border-right: 15px solid transparent;
      border-left: 15px solid $color-details-4;
    }
    .right-bottom-corner {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid $color-details-4;
      border-right: 15px solid $color-details-4;
      border-left: 15px solid transparent;
    }
    .top-score {
      position: fixed;
      left: 40px;
      top: 10px;
      width: 100px;
      height: 30px;
      background-color: $color-details;
      font-size: 30px;
      text-align: center;
      color: white;
      &:before {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid transparent;
        border-bottom: 15px solid $color-details;
        border-right: 15px solid $color-details;
        border-left: 15px solid transparent;
      }
      &:after {
        position: fixed;
        left: 140px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid $color-details;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        border-left: 15px solid $color-details;
      }
    }
    .pot {
      position: absolute;
      bottom: 40px;
      width: 75px;
      height: 25px;
      background-color: white;
      transition: all 0.3s ease;
    }
    .coin-box {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: greenyellow;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
      display: flex;
      transition: background-color 1s ease;
      overflow: hidden;
      .glyphicon {
        font-size: 30px;
        color: black;
      }
    }
    .life-background {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0px;
      background-color: cornflowerblue;
      z-index: 800;
    }
    .life {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0px;
      background-color: white;
      z-index: 1000;
      transition: all 1s ease;
    }
  }
}

.modal-content {
  background-color: $color-details-2;
  color: white;
  font-size: 22px;
  h4 {
    font-size: 33px;
  }
  button {
    border: 2px solid black;
    background: $color-details;
    font-size: 28px;
    &:hover {
      color: black;
    }
  }
  table td {
    width: 100px;
  }
}
