$color-details: #7B1A9F;
$color-details-2: #22c2d7;

@font-face {
  font-family: 'Arcade';
  src: url('../font/arcade.ttf');
}

body {
  font-family: "Arcade";
}

.game {
  background-image: url("../img/play-stone-1744790_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: red;
  border-top: 10px solid $color-details-2;
  border-bottom: 10px solid $color-details-2;
  border-right: 10px solid $color-details-2;
  border-left: 10px solid $color-details-2;
  .game-field {
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .nav-bar {
      z-index: 1000;
      position: fixed;
      top: 0px;
      right: 0px;
      height: 170px;
      width: 120px;
      background-color: $color-details-2;
      border: 2px solid $color-details-2;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      line-height: 1;
      ul {
        list-style-type: none;
        top: 10px;
        margin: 0px;
        padding: 0px;
        li {
          color: black;
          margin: 5px;
          &:first-child {
            text-align: left;
          }
          button {
            width: 100%;
            border: 2px solid black;
            background: $color-details;
          }
        }
      }
    }
    .left-upper-corner {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid $color-details-2;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid $color-details-2;
    }
    .left-bottom-corner {
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid $color-details-2;
      border-right: 15px solid transparent;
      border-left: 15px solid $color-details-2;
    }
    .right-bottom-corner {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 50px;
      height: 50px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid $color-details-2;
      border-right: 25px solid $color-details-2;
      border-left: 25px solid transparent;
    }
    .top-score {
      position: fixed;
      left: 40px;
      top: 10px;
      width: 100px;
      height: 30px;
      background-color: $color-details;
      font-size: 30px;
      text-align: center;
      color: white;
      &:before {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid transparent;
        border-bottom: 15px solid $color-details;
        border-right: 15px solid $color-details;
        border-left: 15px solid transparent;
      }
      &:after {
        position: fixed;
        left: 140px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid $color-details;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        border-left: 15px solid $color-details;
      }
    }
  }
}

.modal-content {
  background-color: $color-details-2;
  color: white;
  font-size: 22px;
  h4 {
    font-size: 33px;
  }
  button {
    border: 2px solid black;
    background: $color-details;
    font-size: 28px;
    &:hover {
      color: black;
    }
  }
  table td {
    width: 100px;
  }
}
