@font-face {
  font-family: 'Arcade';
  src: url("../font/arcade.ttf"); }
body {
  font-family: "Arcade";
  background-image: url("../img/play-stone-1744790_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid #22c2d7;
  border-bottom: 10px solid #22c2d7;
  border-right: 10px solid #22c2d7;
  border-left: 10px solid #22c2d7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; }

.game {
  background-image: url("../img/play-stone-1744790_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 865px;
  height: 620px;
  margin: 50px auto;
  background-color: red;
  border-top: 10px solid #ff0052;
  border-bottom: 10px solid #ff0052;
  border-right: 10px solid #ff0052;
  border-left: 10px solid #ff0052; }
  .game .game-field {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 845px;
    height: 600px;
    overflow: hidden; }
    .game .game-field .game-over {
      text-align: center;
      color: white; }
    .game .game-field .nav-bar {
      z-index: 1000;
      position: fixed;
      top: 0px;
      right: 0px;
      height: 170px;
      width: 120px;
      background-color: #22c2d7;
      border: 2px solid #22c2d7;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      line-height: 1; }
      .game .game-field .nav-bar ul {
        list-style-type: none;
        top: 10px;
        margin: 0px;
        padding: 0px; }
        .game .game-field .nav-bar ul li {
          color: black;
          margin: 5px; }
          .game .game-field .nav-bar ul li:first-child {
            text-align: left; }
          .game .game-field .nav-bar ul li button {
            width: 100%;
            border: 2px solid black;
            background: #7B1A9F; }
    .game .game-field .left-upper-corner {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid #22c2d7;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid #22c2d7; }
    .game .game-field .left-bottom-corner {
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid #22c2d7;
      border-right: 15px solid transparent;
      border-left: 15px solid #22c2d7; }
    .game .game-field .right-bottom-corner {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 30px;
      height: 30px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid #22c2d7;
      border-right: 15px solid #22c2d7;
      border-left: 15px solid transparent; }
    .game .game-field .top-score {
      position: fixed;
      left: 40px;
      top: 10px;
      width: 100px;
      height: 30px;
      background-color: #7B1A9F;
      font-size: 30px;
      text-align: center;
      color: white; }
      .game .game-field .top-score:before {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid transparent;
        border-bottom: 15px solid #7B1A9F;
        border-right: 15px solid #7B1A9F;
        border-left: 15px solid transparent; }
      .game .game-field .top-score:after {
        position: fixed;
        left: 140px;
        top: 10px;
        width: 30px;
        height: 30px;
        content: " ";
        border-top: 15px solid #7B1A9F;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        border-left: 15px solid #7B1A9F; }
    .game .game-field .pot {
      position: absolute;
      bottom: 40px;
      width: 75px;
      height: 25px;
      background-color: white;
      transition: all 0.3s ease; }
    .game .game-field .coin-box {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: greenyellow;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
      display: flex;
      transition: background-color 1s ease;
      overflow: hidden; }
      .game .game-field .coin-box .glyphicon {
        font-size: 30px;
        color: black; }
    .game .game-field .life-background {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0px;
      background-color: cornflowerblue;
      z-index: 800; }
    .game .game-field .life {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0px;
      background-color: white;
      z-index: 1000;
      transition: all 1s ease; }

.modal-content {
  background-color: #22c2d7;
  color: white;
  font-size: 22px; }
  .modal-content h4 {
    font-size: 33px; }
  .modal-content button {
    border: 2px solid black;
    background: #7B1A9F;
    font-size: 28px; }
    .modal-content button:hover {
      color: black; }
  .modal-content table td {
    width: 100px; }

/*# sourceMappingURL=style.css.map */
